{% extends "base.html" %}
{% load static %}

{% block content %}



<section class="page-title bg-2">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1>Services</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, ex!</p>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="service-about section">
	<div class="container">
		<div class="row">
			<div class="col-md-6">

				<h2>Creative UX/UI Design Agency</h2>
				<p class="mt-30">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate soluta corporis odit, optio cum! Accusantium numquam ab, natus excepturi architecto earum ipsa aliquam, illum, omnis rerum, eveniet officia nihil. Eum quod iure nulla, soluta architecto distinctio. Nesciunt odio ullam expedita, neque fugit maiores sunt perferendis placeat autem animi, nihil quis suscipit quibusdam ut reiciendis doloribus natus nemo id quod illum aut culpa perspiciatis consequuntur tempore? Facilis nam vitae iure quisquam eius harum consequatur sapiente assumenda, officia voluptas quas numquam placeat, alias molestias nisi laudantium nesciunt perspiciatis suscipit hic voluptate corporis id distinctio earum. Dolor reprehenderit fuga dolore officia adipisci neque!</p>
			</div>
			<div class="col-md-6">
				<img class="img-responsive" src="{% static 'images/company/company-group-pic.jpg' %}">
			</div>
		</div>
	</div>
</section>

<section class="service-arrow">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4 bg-primary">
				<div class="block">
					<i class="ion-erlenmeyer-flask"></i>
					<h3>Interface Design</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe enim impedit repudiandae omnis est temporibus.</p>
				</div>
			</div>
			<div class="col-md-4 bg-primary bg-primary-dark">
				<div class="block">
					<i class="ion-leaf"></i>
					<h3>Product Branding</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe enim impedit repudiandae omnis est temporibus.</p>
				</div>
			</div>
			<div class="col-md-4 bg-primary bg-primary-darker">
				<div class="block">
					<i class="ion-lightbulb"></i>
					<h3>Game Development</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe enim impedit repudiandae omnis est temporibus.</p>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="service-list section bg-gray">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="section-title text-center">
					<h2>What we do best</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="block">
					<h4>User research</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, unde.</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="block">
					<h4>Product marketing</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, unde.</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="block">
					<h4>Visual design</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, unde.</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="block">
					<h4>Front-end engineering</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, unde.</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="block">
					<h4>Usability testing & analytics</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, unde.</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="block">
					<h4>Design sprints & prototyping</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, unde.</p>
				</div>
			</div>
		</div>
	</div>
</section>




<section class="call-to-action bg-1 section-sm overly">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="block">
					<h2>We design delightful digital experiences.</h2>
					<p>Read more about what we do and our philosophy of design. Judge for yourself The work and results <br> we’ve achieved for other clients, and meet our highly experienced Team who just love to design.</p>
					<a class="btn btn-main btn-solid-border" href="#" >Tell Us Your Story</a>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}